*{
    font-family: $comfortaa;
    font-size: rem(14);
}
body, .ipt, select, textarea{
    color:#000;
}
a:hover{ text-decoration:none;}
p{ margin:0 0 15px;}
.clearfix:before, .clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }
.show { display:block; }
.hide { display:none; }
.fl { float:left;display:inline; }
.fr { float:right;display:inline; }
.cb { clear: both; }
ul{ list-style: none; margin: 0; padding: 0}

