// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

/**
 * Fonts
 */

@import url('https://fonts.googleapis.com/css?family=Raleway');

@font-face {
    font-family: 'comfortaabold';
    src: url('../fonts/comfortaa-bold-webfont.woff2') format('woff2'),
         url('../fonts/comfortaa-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'comfortaalight';
    src: url('../fonts/comfortaa-light-webfont.woff2') format('woff2'),
         url('../fonts/comfortaa-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'comfortaaregular';
    src: url('../fonts/comfortaa-regular-webfont.woff2') format('woff2'),
         url('../fonts/comfortaa-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

$raleway: 'Raleway', sans-serif;
$comfortaa: 'comfortaaregular';
$comfortaaL: 'comfortaalight';
$comfortaaB: 'comfortaabold';

/**
 * Cores
 */
$branco: #fff;
$amarelo: #fff200;
$amareloHover: #d0c602;
$grafite: #464646;
$cinza: #bcbcbc;
$vermelho: #ed1c24;
$vermelhoHover: #bc171d;
$roxo: #7b479c;
$roxoHover: #6d249b;

/*Functions*/

$browser-context: 16;
@function rem($pixels, $context: $browser-context) {
	@return #{$pixels/$context}rem;
}

/*Mixins*/
@mixin boxShadow ($color: #2e2d2e) {
	-webkit-box-shadow: inset 0px 0px 5px 0px $color;
	-moz-box-shadow: inset 0px 0px 5px 0px $color;
	box-shadow: inset 0px 0px 5px 0px $color;
}

@mixin transition {
  transition: all .4s ease;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

